<br><br>
<p>"The fourth planet from the sun is Mars, and it's a cold, desert-like place 
covered in dust. This dust is made of iron oxides, giving the planet its iconic 
red hue. Mars shares similarities with Earth: It is rocky, has mountains, 
valleys and canyons, and storm systems ranging from localized tornado-like dust 
devils to planet-engulfing dust storms."
</p>
<p><a href="https://www.space.com/16080-solar-system-planets.html">SOURCE</a>
</p>
<br><br>
<hr>
&copy; 2019.<br>
Disclaimer: The information in this page might be inaccurate.

</body>
</html>