<br><br>
<p>"The second planet from the sun, Venus is Earth's twin in size. Radar images 
beneath its atmosphere reveal that its surface has various mountains and 
volcanoes. But beyond that, the two planets couldn't be more different. Because 
of its thick, toxic atmosphere that's made of sulfuric acid clouds, Venus is an 
extreme example of the greenhouse effect. It's scorching-hot, even hotter than 
Mercury. The average temperature on Venus' surface is 900 F (465 C). At 92 bar, 
the pressure at the surface would crush and kill you. And oddly, Venus spins 
slowly from east to west, the opposite direction of most of the other planets."
</p>
<p><a href="https://www.space.com/16080-solar-system-planets.html">SOURCE</a>
</p>
<br><br>
<hr>
&copy; 2019.<br>
Disclaimer: The information in this page might be inaccurate.

</body>
</html>